@import 'tailwindcss';

@theme {
  /* background colors */
  --color-background: #2f3e46;
  --color-layer-mid: #52796f;
  --color-layer-top: #84a98c;

  /* text color */
  --color-txt-primary: #fff;
  --color-txt-secondary: #354f52;

  /* border color */

  --color-br-primary: #cad2c5;

  /* accentuations color */

  --color-acc-primary: #d97706;
  --color-acc-secondary: #d97706;
}

@layer base {
  body {
    background-color: var(--color-background);
    color: var(--color-txt-primary);
    background-image: url('./noise-background.jfif');
    background-repeat: repeat;
    font-family: 'Inter Variable', sans-serif;
  }
}

@layer layout {
  .layer-mid {
    background-color: var(--color-layer-mid);
  }
}

@layer components {
  .layer-top {
    background-color: var(--color-layer-top);
    border-color: var(--color-br-primary);
  }

  .text-secondary {
    color: var(--color-txt-secondary);
  }
}
